[submodule "final-bdt"]
	path = final-bdt
	url = https://github.com/aufawibowo/final-bdt
[submodule "redis-sentinel"]
	path = redis-sentinel
	url = https://github.com/aufawibowo/redis-sentinel
[submodule "mongodb-sharding"]
	path = mongodb-sharding
	url = https://github.com/aufawibowo/mongodb-sharding
[submodule "multi-master-replication"]
	path = multi-master-replication
	url = https://github.com/aufawibowo/multi-master-replication
